# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files as they are usually used to override resources locally
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include .terraformrc and terraform.rc if you use them for credentials or settings
.terraformrc
terraform.rc

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraform.lock.hcl

# Ignore plan output
*.tfplan